# Default ignored files
/shelf/
/workspace.xml
 ../../.gitconfig
        ../../.lesshst
        ../../.m2/
        ../../.node_repl_history
        ../../.vscode/
        ../../3D Objects/
        ../../AppData/
        ../../Contacts/
        ../../Desktop/
        ../../Documents/
        ../../Downloads/
        ../../Favorites/
        ../gitHomework/.idea/vcs.xml
        ../gitHomework/src/
        ../hello-java/
        ../main/
        ../untitled/
        ../../Intel/
        ../../IntelGraphicsProfiles/
        ../../Links/
        ../../MicrosoftEdgeBackups/
        ../../Music/
        ../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
        ../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
        ../../OneDrive/
        ../../Pictures/
        ../../Saved Games/
        ../../Searches/
        ../../Videos/
        ../../ntuser.dat
        ../../ntuser.dat.log1
        ../../ntuser.dat.log2
        ../../ntuser.dat{4c58dfee-1994-11ed-b46b-287fcfd1f57d}.TM.blf
        ../../ntuser.dat{4c58dfee-1994-11ed-b46b-287fcfd1f57d}.TMContainer00000000000000000001.regtrans-ms
        ../../ntuser.dat{4c58dfee-1994-11ed-b46b-287fcfd1f57d}.TMContainer00000000000000000002.regtrans-ms
        ../../ntuser.ini
